*
{
	margin: 0;
	padding: 0;
}
body
{
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	background: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5)), url(foto.jpg);
	background-size: cover;
	background-position: center;
	overflow: hidden;
}
h1
{
	color: #fff;
}